<a href="https://www.kaggle.com/code/nishantjswl/coronavirus-statistics-scraping?scriptVersionId=167841228" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [7]:
import bs4
import pandas as pd
import requests
import numpy as np

In [4]:

import matplotlib.pyplot as plt

In [8]:
url = 'https://www.worldometers.info/coronavirus/'
source  = requests.get(url).text
soup = bs4.BeautifulSoup(source,'html.parser')

In [9]:
headings = [head.text.strip().replace('\n','') for head in soup.find_all('th')[1:15]]
headings

['Country,Other',
 'TotalCases',
 'NewCases',
 'TotalDeaths',
 'NewDeaths',
 'TotalRecovered',
 'NewRecovered',
 'ActiveCases',
 'Serious,Critical',
 'Tot\xa0Cases/1M pop',
 'Deaths/1M pop',
 'TotalTests',
 'Tests/1M pop',
 'Population']

In [42]:
pd.DataFrame(columns=headings)

Empty DataFrame
Columns: [Country,Other, TotalCases, NewCases, TotalDeaths, NewDeaths, TotalRecovered, NewRecovered, ActiveCases, Serious,Critical, Tot Cases/1M pop, Deaths/1M pop, TotalTests, Tests/1M pop, Population]
Index: []

In [ ]:
datas = soup.find_all('td')
datas[176:]

looking at the td , we find that , row has data for 22 columns , so to process this and turn this rowdata of 22columns into data for 14columns 
first we need to make a nested list and group 22row data into each list ,
after that grouping the first 14 row data and appending it to our row_data , (also checked for an empty element and replaced them with "N/A" for better understanding)

In [42]:
def scrape(soup,headings):
    datas = soup.find_all('td');
    td_elements = [element.text for element in datas[176:]]


    row_data = []
    for i in range(0, len(td_elements), 22):  
      group = td_elements[i:i+22]  
      processed_group = []
      for element in group[:14]:  
        processed_group.append("N/A" if element == '' else element)  
      row_data.append(processed_group)  


    df = pd.DataFrame(columns=headings, data=row_data)
    return df

In [38]:
# datas = soup.find_all('td');
# td_elements = [element.text for element in datas[176:]]

In [39]:

# td_elements = [element.text for element in datas[176:]]


# row_data = []
# for i in range(0, len(td_elements), 22):  
#   group = td_elements[i:i+22]  
#   processed_group = []
#   for element in group[:14]:  
#     processed_group.append("N/A" if element == '' else element)  
#   row_data.append(processed_group)  


# df = pd.DataFrame(columns=headings, data=row_data)

##Last updated: March 19, 2024, 11:54 GMT

In [44]:
df = scrape(soup,headings)
df.to_csv('corona_virus_2024.csv',index=False)

In [45]:
df.head()

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,Population
0,1,USA,"111,681,724",N/A,"1,217,703",N/A,"109,545,864",N/A,"918,157","1,391","333,572","3,637","1,186,824,416","3,544,820"
1,2,India,"45,032,784",N/A,"533,523",N/A,N/A,N/A,N/A,N/A,"32,015",379,"935,879,495","665,334"
2,3,France,"40,138,560",N/A,"167,642",N/A,"39,970,918",N/A,0,N/A,"612,013","2,556","271,490,188","4,139,547"
3,4,Germany,"38,824,874",N/A,"182,797",N/A,"38,240,600",N/A,"401,477",N/A,"462,842","2,179","122,332,384","1,458,359"
4,5,Brazil,"38,592,310",N/A,"710,427",N/A,"36,249,161",N/A,"1,632,722",N/A,"179,204","3,299","63,776,166","296,146"